body {
    margin: -20px 0 0 0;
    font-family: 'Raleway', sans-serif;

    .header-section {
        display: flex;
        height: 100vh;
        background-color: rgb(37,41,52);
        padding: 0;
        margin: 0;
        .center-text-area {
            margin: auto;
            h1 {
                color: white;
                font-size: 16pt;
                line-height: 1.4;
                #name-top {
                    color: #E31B6D;
                    font-family: 'Raleway-semi-bold', sans-serif;
                }
        
            }
            .top-btn-container {
                display: flex;
                button { 
                    padding: 10px 20px;
                    font-size: 17px;
                    background-color: transparent;
                    border: 2px solid white;
                    color: white;
                    cursor: pointer;
                    margin: auto;
                }

                button:hover { 
                    padding: 10px 20px;
                    font-size: 17px;
                    background-color: #04C2C9;
                    border: 2px solid #04C2C9;
                    color: white;
                    cursor: pointer;
                    margin: auto;
                    
                    .arrow-to-move { 
                        transform: rotate(90deg);
                        transition-duration: .5s;
                    }
                }
            }
        }
    }

    .menu-bar-section {
        background-color: #1B242F;


        .mobile-menu-icon {
            color: white;
            font-size: 30px;
            display: flex;
            justify-content: flex-end;
            cursor: pointer;
            padding: 5px 20px;
        }

        .mobile-menu-link-container { 
            position: absolute;
            background-color: #333;
            width: 100%;
            display: none; //Change this with javascript

            .mob-link {
                color: white;
                font-size: 12pt;
                margin: 10px;
                padding: 5px;
                text-transform: uppercase;

                a { 
                    padding: 0 78% 0 10%;
                    cursor: pointer;
                }
            }

            .active {
                color: #E31B6D !important;
            }
        }
    }

    .about-section { 
        .header-container { 
            display: flex;
            padding: 30px 0;
            h1 { 
                color: #444649;
                font-family: 'raleway-bold';
                font-size: 25pt;
                margin: auto;
                border-bottom: 4px solid #444649;
                padding-bottom: 15px;
                text-transform: uppercase;
            }
        }
    }
}