body {
    margin: -20px 0 0 0;
    font-family: 'Raleway', sans-serif;

    .header-section {
        display: flex;
        height: 100vh;
        background-color: rgb(37,41,52);
        padding: 0;
        margin: 0;
        .center-text-area {
            margin: auto;
            h1 {
                color: white;
                font-size: 16pt;
                line-height: 1.4;
                #name-top {
                    color: #E31B6D;
                    font-family: 'Raleway-semi-bold', sans-serif;
                }
        
            }
            .top-btn-container {
                display: flex;
                button { 
                    padding: 10px 20px;
                    font-size: 17px;
                    background-color: transparent;
                    border: 2px solid white;
                    color: white;
                    cursor: pointer;
                    margin: auto;
                }

                button:hover { 
                    padding: 10px 20px;
                    font-size: 17px;
                    background-color: #04C2C9;
                    border: 2px solid #04C2C9;
                    color: white;
                    cursor: pointer;
                    margin: auto;
                    
                    .arrow-to-move { 
                        transform: rotate(90deg);
                        transition-duration: .5s;
                    }
                }
            }
        }
    }

    .menu-bar-section {
        background-color: #1B242F;


        .mobile-menu-icon {
            color: white;
            font-size: 30px;
            display: flex;
            justify-content: flex-end;
            cursor: pointer;
            padding: 5px 20px;
        }

        .mobile-menu-link-container { 
            position: absolute;
            background-color: #333;
            width: 100%;
            display: none; //Change this with javascript

            .mob-link {
                color: white;
                font-size: 12pt;
                margin: 10px;
                padding: 5px;
                text-transform: uppercase;

                a { 
                    padding: 0 78% 0 10%;
                    cursor: pointer;
                }
            }

            .active {
                color: #E31B6D !important;
            }
        }
    }

    .about-section { 
        .header-container { 
            display: flex;
            padding: 30px 0;
            h1 { 
                color: #444649;
                font-family: 'raleway-bold';
                font-size: 25pt;
                margin: auto;
                border-bottom: 4px solid #444649;
                padding-bottom: 15px;
                text-transform: uppercase;
            }
        }

        .img-container {
            display: flex;
            flex-direction: column;
            .my-img {
                height: 200px;
                width: 280px;
                margin: auto;
                @media screen and (min-width: 1024px) {
                    height: 300px;
                    width: 450px;
                }
            }
            h3 {
                margin: 20px auto;
                color: #616161;
            }
            .small-txt {
                font-size: 12px;
                text-align: center;
                margin: 0 auto;
            }

            .skill-section {
                padding: 10px;
                margin: 35px 0;
                .skill-container {
                    display: flex;
                    padding: 5px 0;
                    .skill-label {
                        width: 20%;
                        background-color: #00c2ca;
                        color: white;
                        font-size: 12px;
                        display: flex;
                        padding: 5px;
                        p {
                            margin: 0 auto;
                            font-weight: 900;
                        }
                    }
                    .html-bar {
                        width: 70%;
                        background-color: #00a1a8;
                    }
                    .html-grey-bar {
                        width: 10%;
                        background-color: #eeeeee;
                    }

                    .css-bar {
                        width: 60%;
                        background-color: #00a1a8;
                    }
                    .css-grey-bar {
                        width: 20%;
                        background-color: #eeeeee;
                    }

                    .react-bar {
                        width: 45%;
                        background-color: #00a1a8;
                    }
                    .react-grey-bar {
                        width: 35%;
                        background-color: #eeeeee;
                    }

                    .js-bar {
                        width: 70%;
                        background-color: #00a1a8;
                    }
                    .js-grey-bar {
                        width: 10%;
                        background-color: #eeeeee;
                    }

                    .wp-bar {
                        width: 60%;
                        background-color: #00a1a8;
                    }
                    .wp-grey-bar {
                        width: 20%;
                        background-color: #eeeeee;
                    }

                    .node-bar {
                        width: 30%;
                        background-color: #00a1a8;
                    }
                    .node-grey-bar {
                        width: 50%;
                        background-color: #eeeeee;
                    }

                    
                    .grey-bar {
                        width: 80%;
                        background-color: #eeeeee;
                    }
                }
            }
        }
    }
    
    .project-section {
        background-color: #f5f5f5;

        .header-container { 
            display: flex;
            padding: 30px 0;
            h1 { 
                color: #444649;
                font-family: 'raleway-bold';
                font-size: 25pt;
                margin: auto;
                border-bottom: 4px solid #444649;
                padding-bottom: 15px;
                text-transform: uppercase;
            }
        }

        .short-proj-nav {
            display: flex;
            .p-container {
                margin: auto;
                display: flex;
                p {
                    font-size: 12px !important;
                    padding: 5px 15px;
                }

                .active {
                    background-color: #e40f6c;
                    color: white;
                }
            }
        }

        .project-container {
            padding: 10px 0 25px 0;
            .project {
                width: 100%;
                height: 215px;
                .hidden-description {
                    display: none;
                }
                img {
                    width: 100%;
                }

                button {
                    padding: 10px 30px;
                    border: 2px solid #E31B6D;
                    background: transparent;
                }
                button:hover {
                    background-color: #E31B6D;
                    color: white;
                }
            }
        }

        // .project-container:hover {
        //     border: 1px solid #00a1a8;
        //     background-color: #f5f5f5;
        //     height: 215px;
            .project:hover {
                width: 100%;
                height: 215px;
               
                .hidden-description {
                    display: inherit;
                }
                .top {
                    margin-top: 10%;
                    margin-left: 35%;
                }
                .bold {
                    font-family: 'Raleway-bold';
                    font-size: 16pt;
                }
                .highlight {
                    font-family: 'Raleway';
                    font-size: 8pt;
                    color: #e40f6c;   
                    text-align: center;
                    padding-left: 10%;             
                }
                button.hidden-description.bottom {
                    margin-top: -50%;
                    margin-left: 35%;
                    position: absolute;
                }
                img {
                    visibility: hidden;
                }
            }
        // }
    }

    .blog-section {
        background-color: #fff;
        .header-container { 
            display: flex;
            padding: 30px 0;
            h1 { 
                color: #444649;
                font-family: 'raleway-bold';
                font-size: 25pt;
                margin: auto;
                border-bottom: 4px solid #444649;
                padding-bottom: 15px;
                text-transform: uppercase;
            }
        }

        .middle-text {
            display: flex;
            a {
                margin: auto;
            }
            p {
                text-align: center;
                color: #444649;
                padding: 0 15%;
            }
        }


    }

    .contact-section { 
        background-color: #252934;
        padding: 20% 0;
        .header-container { 
            display: flex;
            padding: 30px 0;
            h1 { 
                color: #fff;
                font-family: 'raleway-bold';
                font-size: 25pt;
                margin: auto;
                border-bottom: 4px solid #fff;
                padding-bottom: 15px;
                text-transform: uppercase;
            }
        }

        .short-message {
            color: #0ab6bd;
            text-align: center;
            font-size: 8pt;
            margin-bottom: 30px;
        }

        form {
            display: flex;
            flex-direction: column;
            input {
                background-color: #1e242b;
                border: none;
                padding: 10px;
                margin: 5px 20px;
                font-size: 16px;
            }
            .message {
                height: 150px;
            }
            
            .submit-btn {
                width: 120px;
                border: 3px solid white;
                color: white;
                text-transform: uppercase;
                margin-left: 63%;
            }
        }
    }

    footer {
        background-color: #1e242b;
        padding: 50px 0;
        display: flex;
        flex-direction: column;

        .copyright {
            margin: auto;
            text-align: center;
            color: #48525d;

            .pink {
                color: #84204f;
            }
        }
    }
}